<h1><%= @book.title %></h1>
<h3>By: <%= @book.author %></h3>

<%= link_to "Edit",  edit_book_path(@book.id) %>
<%= link_to "Delete", book_path(@book.id), method: :delete, data: {
                        confirm: "Are you sure?"
                        } %>

<div>
    <div>Status: <%=
        case @book.status
            when "read"
                "Read"
            when "reading"
                "Currently Reading"
            when "tbr"
                "To Be Read"
        end
    %></div>
</div>

<div>
    <h6>Rating: <%= @book.rating ? "#{@book.rating}/5" : "Not rated yet" %></h6>
</div>
