<h1><%= @book.title %></h1>
<h3>By: <%= @book.author %></h3>

<div>
    <h4>Synopsis</h4>
    <p><%= @book.description %></p>
</div>

<div>
    <div>Status: <%= @book.status %></div>
</div>

<div>
    <h6>Review</h6>
    <p>Rating: <%= @book.rating %>/5</p>
    <p><%= @book.review %>
</div>
