<h1><%= @book.title %></h1>
<h3>By: <%= @book.author %></h3>

<%= link_to "Edit",  edit_book_path(@book.id) %>

<div>
    <h4>Synopsis</h4>
    <p><%= @book.description %></p>
</div>

<div>
    <div>Status: <%= @book.status %></div>
</div>

<div>
    <h6>Review</h6>
    <p>Rating: <%= @book.rating ? "#{@book.rating}/5" : "Not rated yet" %></p>
    <p><%= !@book.review.empty? ? @book.review : "No review" %></p>
</div>
