<%= render "header" %>

<div class="container show-book">
    <div class="row">
        <div class="col book-cover">
            <%= if !@book.cover_url || @book.cover_url.empty?;1.times do %>
                    <div class="no-cover">No Book Cover</div>
                <% end %>
                <% nil
            elsif !@book.cover_url.empty?; 1.times do%>
                    <%= image_tag @book.cover_url%>
                <% end %>
                <% nil %>
            <% end %>
        </div>
        <div class="col book-details">
            <h1 class="title"><%= @book.title %></h1>
            <h3 class="author">By: <%= @book.author %></h3>

            <div class="book-options">
                <%= link_to edit_book_path(@book.id), class: "btn btn-primary" do %>
                    <i class="bi bi-pencil-fill"></i> Edit
                <% end %>
                <%= link_to book_path(@book.id), class: "btn btn-primary", method: :delete, data: {
                                        confirm: "Are you sure?"
                                        } do %>
                    <i class="bi bi-trash-fill"></i> Delete
                <% end %>
            </div>

            <div class="status">
                <p>Status: <%=
                    case @book.status
                        when "read"
                            "Read"
                        when "reading"
                            "Currently Reading"
                        when "tbr"
                            "To Be Read"
                    end
                %></p>
            </div>

            <div class="rating">
                <p>Rating:
                    <%= if !@book.rating
                            "Not rated yet"
                        else @book.rating.to_i.times do %>
                            <i class="bi bi-star-fill"></i>
                        <% end %>
                        <% @book.blank_stars.times do %>
                            <i class="bi bi-star"></i>
                        <% end %>
                        <%= nil %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</div>
